@CHARSET "UTF-8";

body{
	font-family: 'Lato', sans-serif;
	color: #4d4d4d;
}
input[name=saveDetails]{
	background-color: red;
}
input[type=text]:focus, textarea:focus{
	outline: none;
}
#container{
	width:100%;
	padding: 10px;
	position: absolute;
	top: 0;
    left: 0;
    box-sizing: border-box;
}
#newTaskForm{
	margin-bottom:30px;
	display: table;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
}
#newTaskForm input{
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 10px;
    font-size: 18px;
    width:300px;
}
#newTaskForm input[type=submit]{
	background-image: url('img/checkmark.png');
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 45px;
	background-size: 42px;
	vertical-align: middle;
	margin-top: -5px;
	height: 41px;
}

#newTaskForm input[type=submit]:hover{
	background-color: #d9d9d9;
}

#newTaskForm input[type=submit]:active{
	background-color: #bfbfbf;
}

.panel{
	float: left;
	min-height: 300px;
	width:50%;
	min-width: 150px;
	padding: 15px 30px 15px 30px;
	box-sizing: border-box;
}

.task{
	display: block;
	padding: 15px;
	min-height: 50px;
	background-color: #f2f2f2;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	margin-bottom: 10px;
	border-radius: 10px;	
}
.task a{
	float:right;
	width:30px;
	height: 30px;
	display: inline-block;
	background-size: 30px;
}
.task h3{
	display: inline-block;
	margin-top: 0;
	max-width: 80%;
}
.taskEdit{
	background-image: url('img/edit.png');
}
.taskEdit::after{
	clear: both;
}

.taskComplete{
	background-image: url('img/complete.png');
}
.taskRemove{
	background-image: url('img/remove.png');	
}
.taskRemove::after{
	clear: both;
}
.taskDescription{
	display: block;
	width: 100%;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	padding:5px;
	font-family: inherit;
	font-size:16px;
}
.taskValidTill{
	width: 100px;
	border: none;
	padding: 5px;
	border-radius: 10px;
}
.taskColor{
	border:none;
	vertical-align: middle;
}
.taskDetailsForm input[type=submit]{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
	margin-right: 15px;
	border-radius: 15px;
}
.taskDetailsContainer span:first-child{
	display: block;
	width:100%;
	min-height: 50px;
	color: #737373;	
	font-style: italic;
	white-space: pre-wrap;
}
.taskDetailsContainer span:last-child{	
	font-size: 12px;
	color: #737373;	
}

